body {
	font-family: "Montserrat", sans-serif;
	background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/143/579/original/cloud.jpg?1726419791");
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
	height: 100vh;
}

.weather-app-container {
	background-color: rgba(255, 255, 255, 0.4);
	border: solid 1px rgba(142, 172, 205, 0.3);
	border-radius: 20px;
	max-width: 500px;
	margin: 30px auto;
	padding: 50px;
	box-shadow: 5px 5px 5px rgb(142, 172, 205);
}

.city-search-form {
	display: flex;
	justify-content: space-between;
}

.form-input {
	width: 70%;
	border: none;
	background-color: rgba(210, 224, 251, 0.8);
	border-radius: 5px;
	padding: 10px 15px;
	font-family: "Montserrat", sans-serif;
}

.form-submit-buttom {
	width: 25%;
	background-color: rgb(142, 172, 205);
	border: none;
	border-radius: 5px;
	padding: 10px 15px;
	color: #ffffff;
	font-weight: 500;
	font-family: "Montserrat", sans-serif;
	transition: 150ms ease-in-out;
}

.form-submit-buttom:hover {
	background-color: rgba(210, 224, 251, 0.8);
	color: rgb(142, 172, 205);
}

.location-details-container {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.weather-icon-container {
	display: flex;
	justify-content: center;
}

.weather-icon {
	padding-top: 20px;
	width: 120px;
	height: 120px;
}

.temp {
	font-size: 50px;
	font-weight: 900;
	text-align: left;
}

.current-temp-comtainer {
	color: rgb(22, 29, 111);
	display: flex;
	justify-content: left;
	margin-top: 5px;
	margin-bottom: 5px;
}

.city-name {
	color: rgb(22, 29, 111);
	font-size: 20px;
	font-weight: 500;
	text-align: left;
}

.weather-details {
	color: rgb(142, 172, 205);
	font-size: 12px;
	font-weight: 600;
	margin-top: 5px;
	margin-bottom: 5px;
}

.weather-condition {
	text-transform: capitalize;
}

.weather-forecast {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.weather-forecast-day {
	background-color: rgba(142, 172, 205, 0.1);
	border: solid 1px rgb(142, 172, 205, 0.2);
	border-radius: 50px;
	margin-left: 10px;
	padding: 20px 5px;
}

.weather-forecast-day:hover {
	background-color: rgb(254, 249, 217, 0.5);
	border: solid 1px rgb(254, 249, 217, 0.6);
}

.forecast-date {
	color: rgb(22, 29, 111);
	font-weight: 800;
	text-align: center;
	margin-bottom: 10px;
}

.forecast-icon {
	text-align: center;
	margin-bottom: 10px;
	width: 80px;
}

.forecast-temp {
	color: rgb(22, 29, 111);
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 10px;
}

.forecast-temperature {
	text-align: center;
	padding: 0 5px;
}

.high {
	font-weight: bold;
}

a {
	text-decoration: none;
	color: rgb(22, 29, 111);
}

a:hover {
	text-decoration: underline;
}

footer {
	color: rgb(105, 128, 153);
	font-size: 10px;
	margin-top: 50px;
	text-align: center;
}
